@font-face {
    font-family: 'gilroyblack';
    src: url('../fonts/gilroy-black-webfont.eot');
    src: url('../fonts/gilroy-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff'),
         url('../fonts/gilroy-black-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-black-webfont.svg#gilroyblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/gilroy-medium-webfont.eot');
    src: url('../fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff'),
         url('../fonts/gilroy-medium-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-medium-webfont.svg#gilroymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}